.logo-title {
    font-family: "Archivo", sans-serif;
}

.logo-des {
    font-family: "Archivo", sans-serif;
}

.title-color {
    color: #fc097c;
}

.btn-login {
    background-color: #fc097c;
    color: white !important;
}

.navbar-nav a {
    font-family: "Archivo", sans-serif;
    color: #1a0a1e;
}

.user-pic {
    width: 55px;
    height: 55px;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    transition: max-height 0.5s;
}

.inactive-menu {
    max-height: 0px;
    overflow: hidden;
}

.active-menu {
    max-width: 400px;
}

.sub-menu {
    background-color: #f9f9f9;
    margin: 10px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px 0 10px;
}

.menu-arrow {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover .menu-arrow {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 700 !important;
}

.sub-menu-link {
    cursor: pointer;
}

@media screen and (max-width:991px) {
    .logo-pic {
        width: 80px !important;
    }

    .logo-title {
        font-size: 24px !important;
    }

    .logo-des {
        font-size: 14px !important;
    }
}

@media screen and (max-width:767px) {
    .navbar-toggler:focus {
        box-shadow: none !important;
    }
}